body {
    padding: 1rem;
}

.error {
    color: #ff0000;
}

.success {
    color: #00aa00;
}

pre {
    padding: 0.5rem;
    font-size: 75%;
    background-color: #eeeeee;
}

dd input, dd textarea {
    margin: 0.5rem 0;
    width: 100%;
}